.mono/*
Autodesk/*
Code/*
Kite/*
README.md
autostart/*
caja/*
cinnamon-monitors.xml
concordium/*
configstore/*
dconf/*
enchant/*
evolution/*
font-manager/*
fontconfig/*
fontforge/*
gedit/*
git/*
glib-2.0/*
gnome-control-center/*
google-chrome/*
gtk-2.0/*
gtk-3.0/*
gtk-4.0/*
htop/*
i3/*
i3status/*
inkscape/*
iterm2/*
karabiner/*
lvim.bak/*
lvim/*
mc/*
mimeapps.list
monitors.xml
nautilus/*
nemo/*
nvim/undodir/*
oh-my-zsh/*
p10k/*
pulse/*
qt5ct/*
rstudio/*
setup.sh
synapse/*
systemd/*
user-dirs.dirs
user-dirs.locale
vscode-sqltools/*
xbuild/*
xm1/*
yarn/*
zed/*
nvim/lazy-lock.json
btop
gh
github-copilot
op
packer
nvim/lazy-lock.json
